body {
  background-image: linear-gradient(to left, #0254FA, #2047BB);
  font_family: "georgia";
}

main {
  background-color: white;
  width: 410px;
  padding: 10px;
  marin: auto;
  color: #003870
}

p {
  text-align: justify;
  color: #003870;
}
img {
  width: 400;
}

h1 {
  color: #1762D3;
}

h2 {
  color: #1866DB;
}